#about {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#about > main {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#about > main > aside {
  margin: 50px 2.5% 50px;
  width: 25%;
}

#about > main > #about-content {
  margin: 30px 5% 50px;
  width: 60%;
  max-width: 1000px;
  font-family: "Ubuntu", sans-serif;
  --margin-left: 20px;
}

#about-content > strong {
  display: block;
  font-weight: bold;
  font-size: 30px;
  color: var(--main-green-color);
  margin-bottom: 50px;
}

#about-content > p {
  font-size: 14px;
  text-align: justify;
  color: var(--main-green-color);
  margin-left: var(--margin-left);
}

#about-content > img {
  width: 50%;
  height: auto;
  margin-top: 50px;
  margin-left: var(--margin-left);
  border-radius: 9px;
  box-shadow: 0px 0px 4px var(--main-green-color-opacity-thirty-percent);
}
