#home {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 1000px;
}

#home > main {
  /* background-color: darkturquoise; */
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#home > main > aside {
  /* background-color: tomato; */
  margin: 50px 0px;
  padding: 0 2.5%;
  width: 200px;
}

#home-posts-preview {
  /* background-color: aqua; */
  margin: 50px 0px;
  flex: 1;
  padding: 0px 5%;
  display: flex;
  flex-direction: column;
}

#home-posts-preview > div {
  /* background-color: bisque; */
  flex: 1;
}

#home-posts-preview > nav {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#home-posts-preview > nav > span {
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.home-posts-preview-horizontal-line {
  width: 100%;
  border: 0;
  border-top: 1px solid var(--main-separator-lines-color);
  box-shadow: 0px 0px 1px var(--main-green-color-opacity-thirty-percent);
}

#home-posts-preview > div:last-child > hr {
  display: none;
}
