#home {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 1000px;
}

#home > main {
  /* background-color: darkturquoise; */
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#home > main > aside {
  margin: 50px 2.5% 50px;
  width: 25%;
}

#home > main > #home-posts-preview {
  /* background-color: darkseagreen; */
  margin: 50px 5% 50px;
  width: 60%;
  max-width: 1000px;
}

.home-posts-preview-horizontal-line {
  width: 100%;
  border: 0;
  border-top: 1px solid var(--main-separator-lines-color);
  box-shadow: 0px 0px 1px var(--main-green-color-opacity-thirty-percent);
}

#home > main > #home-posts-preview > div:last-child > hr {
  display: none;
}
