#categories {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Ubuntu', sans-serif;
}

#categories > main {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#categories > main > aside {
  margin: 50px 0px;
  padding: 0px 2.5%;
  width: 200px;
}

#category-posts-preview {
  /* background-color: blanchedalmond; */
  flex: 1;
  margin: 10px 0px 50px;
  padding: 0px 5%;
}

#category-posts-preview > div > strong {
  /* background-color: aqua; */
  display: block;
  color: var(--main-green-color);
  font-weight: bold;
  font-size: 30px;
  margin: 10px 0px 30px 0px;
}
