.image-center-picker {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--main-green-color);
  border-radius: 4px;
  box-shadow: 0px 0px 5px var(--main-green-color-opacity-thirty-percent);
}

.image-center-picker > input {
  /* background-color: tomato; */
  display: none;
}

.image-center-picker-buttons-row {
  height: 30px;
  width: 95%;
  margin: 0px 2.5% 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.image-center-picker-buttons-select {
  width: 150px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 10px 10px;
}

.image-center-picker-buttons-select > input {
  display: none;
}

.image-center-picker-preview {
  width: 50%;
  height: auto;
  margin: 0px 50% 30px;
  transform: translateX(-50%);
  box-shadow: 0px 0px 5px var(--main-green-color-opacity-fifty-percent);
  border-radius: 4px;
}
