.buttons-row {
  height: 30px;
  width: 95%;
  margin: 0px 2.5% 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.buttons-edit,
.buttons-save {
  border: 0;
  border-radius: 4px;
  background-color: var(--main-green-color);
  width: 80px;
  height: 35px;
  color: white;
}
