footer {
  position: absolute;
  bottom: 0;
  width: 95%;
  height: 100px;
  padding: 0px 2.5% 0px;
}

footer > hr {
  background-color: red;
  width: 100%;
  border: 0;
  border-top: 2px solid var(--main-separator-lines-color);
  box-shadow: 0px 0px 1px var(--main-green-color-opacity-thirty-percent);
}

footer > strong {
  /* background-color: blue; */
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-green-color);
  font-family: "Ubuntu", sans-serif;
}
