footer {
  width: 95%;
  height: 60px;
  padding: 0px 2.5% 0px;
}

footer > div {
  /* background-color: burlywood; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  color: var(--main-green-color);
  font-family: 'Ubuntu', sans-serif;
  padding: 10px 5px;
}

footer > hr {
  /* background-color: red; */
  width: 100%;
  border: 0;
  border-top: 1px solid var(--main-separator-lines-color);
  box-shadow: 0px 0px 1px var(--main-green-color-opacity-thirty-percent);
}

footer a {
  text-decoration: none;
  color: var(--main-green-color);
  font-family: 'Ubuntu', sans-serif;
  transition: background-color 0.4s linear;
  padding: 0.2rem;
  border-radius: 4px;
}

footer a:hover {
  background-color: var(--main-green-color);
  color: white;
}

footer p {
  margin: 0;
}

.strong-copyright {
  margin-top: 5px;
  font-weight: bold;
}
