#write {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 1000px;
  font-family: 'Ubuntu', sans-serif;
}

#write > main {
  /* background-color: darkturquoise; */
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px 2.5% 50px;
}

#write-form {
  /* background-color: blueviolet; */
  width: 100%;
  display: flex;
  flex-direction: column;
}

#write-form > h1 {
  /* background-color: aqua; */
  display: block;
  color: var(--main-green-color);
  font-weight: bold;
  font-size: 30px;
}

.write-form-row {
  /* background-color: darkkhaki; */
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.write-form-label {
  /* background-color: darkmagenta; */
  width: 60px;
  font-size: 16px;
  color: var(--main-green-color);
}

.write-form-input {
  /* background-color: darkorange; */
  width: 60%;
  height: 20px;
  color: var(--main-green-color);
  border: 1px solid var(--main-green-color);
  border-radius: 2px;
}

.write-form-element {
  margin-top: 50px;
}

.write-form-add {
  margin-top: 50px;
  width: fit-content;
  height: fit-content;
  /* border: 1px solid var(--main-separator-lines-color); */
  /* box-shadow: 0px 0px 1px var(--main-green-color-opacity-thirty-percent); */
}

.write-form-add-item {
  /* background-color: blueviolet; */
  margin: 5px 0px;
  padding: 0.5rem;
  background-color: white;
  color: var(--main-green-color);
  border-radius: 4px;
  border: 0;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.write-form-add-item:hover {
  background-color: var(--main-green-color);
  color: white;
}

.write-form-add-title {
  /* background-color: cadetblue; */
  margin: 0;
  padding: 0.5rem;
  font-size: 14px;
  background-color: var(--main-green-color);
  color: white;
  border-radius: 4px;
}

.write-form-add > hr {
  /* display: none; */
  width: 50%;
  margin: 0px 5%;
  padding: 0;
  border: 0;
  border-top: 1px solid var(--main-separator-lines-color);
  box-shadow: 0px 0px 1px var(--main-green-color-opacity-thirty-percent);
}
