@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,500,700,700i&display=swap");

body {
  --main-green-color: #355723;
  --main-green-color-opacity-thirty-percent: rgba(53, 87, 35, 0.3);
  --main-green-color-opacity-fifty-percent: rgba(53, 87, 35, 0.5);
  --main-separator-lines-color: #c0c0c0;

  margin: 0;
  padding: 0;
}
