@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700,700i&display=swap');

body {
  --main-green-color: #355723;
  --main-green-color-opacity-thirty-percent: rgba(53, 87, 35, 0.3);
  --main-green-color-opacity-fifty-percent: rgba(53, 87, 35, 0.5);
  --main-separator-lines-color: #c0c0c0;

  margin: 0;
  padding: 0;
}

.buttons-row {
  height: 30px;
  width: 95%;
  margin: 0px 2.5% 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.buttons-edit,
.buttons-save {
  border: 0;
  border-radius: 4px;
  background-color: var(--main-green-color);
  width: 80px;
  height: 35px;
  color: white;
  cursor: pointer;
  font-size: 15px;
}

.buttons-big {
  border: 0;
  border-radius: 4px;
  background-color: var(--main-green-color);
  width: 300px;
  height: 35px;
  color: white;
  cursor: pointer;
  font-size: 15px;
}

.buttons-center {
  margin-left: 50%;
  transform: translateX(-50%);
}
