.accordion-menu-links-wrapper {
  /* background-color: aquamarine; */
  font-family: 'Ubuntu', sans-serif;
  height: 20px;
  width: 50px;
  cursor: pointer;
}

.accordion-menu-links-list {
  display: flex;
  flex-direction: column;
  width: fit-content;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.2s ease-out;
}

.accordion-menu-links-wrapper:hover .accordion-menu-links-list {
  /* background-color: burlywood; */
  /* margin-top: 10px; */
  transform: scaleY(1);
  transform-origin: top;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.accordion-menu-links-wrapper hr {
  width: 100%;
  border: 0;
  border-bottom: 1px solid var(--main-separator-lines-color);
  box-shadow: 0px 0px 1px var(--main-green-color-opacity-thirty-percent);
  margin: 5px 0px 5px 0px;
}
.accordion-menu-links-element {
  /* background-color: coral; */
  text-decoration: none;
  color: var(--main-green-color);
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.5s linear;
  padding: 4px;
  width: 70px;
}

.accordion-menu-links-list > div {
  margin-top: 10px;
}

.accordion-menu-links-element:hover {
  background-color: var(--main-green-color);
  color: white;
}
