.accordion-menu-wrapper {
  /* background-color: aquamarine; */
  font-family: "Ubuntu", sans-serif;
  height: 20px;
  width: 50px;
  cursor: pointer;
}

.accordion-menu-list {
  display: flex;
  flex-direction: column;
  width: fit-content;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.2s ease-out;
}

.accordion-menu-wrapper:hover .accordion-menu-list {
  /* background-color: burlywood; */
  /* margin-top: 10px; */
  transform: scaleY(1);
  transform-origin: top;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.accordion-menu-wrapper hr {
  width: 60%;
  border: 0;
  border-bottom: 1px solid #c0c0c0;
  margin: 5px 0px 10px 0px;
}
.accordion-menu-element {
  /* background-color: coral; */
  text-decoration: none;
  color: var(--main-green-color);
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.5s linear;
  padding-left: 3px;
}

.accordion-menu-list .accordion-menu-element:first-child {
  margin-top: 10px;
}

.accordion-menu-element:hover {
  background-color: var(--main-green-color);
  color: white;
}
